{% extends 'base.html' %}

{% block header_type %}sub-header{% endblock %}

{% block title %}
    <h1>Our Certificate & Online Programs For 2021</h1>
{% endblock %}

{% block content %}

    <!-- Blog page content -->

    <section class="blog-content">
        <div class="row">
            <div class="blog-left">
                <img src="{{ url_for('static', filename='images/certificate.jpg') }}">
                <h2>Our Certificate & Online Programs For 2021</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem magni perferendis, non magnam fugiat
                    eum odio unde eos inventore, amet deleniti totam vel dolorem! Vitae sapiente ex tempora maxime.
                    Accusantium?</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum perferendis nihil harum ipsa
                    tempora magnam eaque. Esse quam hic dolorum voluptas. Natus, omnis. Ut est aperiam accusamus
                    reprehenderit alias.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor dicta odio voluptatem culpa
                    quibusdam excepturi quod inventore, expedita totam officia eveniet quis. Odio corporis, eius
                    dignissimos voluptatem libero perferendis!</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed ex tenetur voluptatem, officia
                    nulla reiciendis ducimus a aliquam odit dolore modi veritatis, eaque tempora magnam quae laudantium
                    error quod.</p>

                <div class="comment-box">
                    
                    <h3>Leave a comment</h3>

                    <form action="#" class="comment-form" method="POST">
                        <input type="text" name="name" placeholder="Enter Name">
                        <input type="email" name="email" placeholder="Enter Email">
                        <textarea rows="5" name="comment" placeholder="Your comment"></textarea>
                        <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
                    </form>
                </div>
            </div>
            <div class="blog-right">
                <h3>Post Categories</h3>
                <div>
                    <span>Business Analytics</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Data Science</span>
                    <span>28</span>
                </div>
                <div>
                    <span>Machine Learning</span>
                    <span>15</span>
                </div>
                <div>
                    <span>Computer Science</span>
                    <span>34</span>
                </div>
                <div>
                    <span>AutoCAD</span>
                    <span>42</span>
                </div>
                <div>
                    <span>Journalism</span>
                    <span>22</span>
                </div>
                <div>
                    <span>Commerces</span>
                    <span>30</span>
                </div>
            </div>
        </div>
    </section>

{% endblock %}