{% extends 'base.html' %}

{% block header_type %}sub-header{% endblock %}

{% block title %}
    <h1>Our Courses</h1>
{% endblock %}

{% block content %}

    <!-- Courses -->

    <section class="courses">
        <h1>Courses We Offer</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="courses-col">
                <h3>Undergraduate</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius totam impedit repellat dignissimos
                    maxime enim incidunt inventore delectus, cupiditate, consequuntur reiciendis in veritatis velit
                    cumque earum, natus id perferendis repellendus?</p>
            </div>
            <div class="courses-col">
                <h3>Master</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius totam impedit repellat dignissimos
                    maxime enim incidunt inventore delectus, cupiditate, consequuntur reiciendis in veritatis velit
                    cumque earum, natus id perferendis repellendus?</p>
            </div>
            <div class="courses-col">
                <h3>Doctoral</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius totam impedit repellat dignissimos
                    maxime enim incidunt inventore delectus, cupiditate, consequuntur reiciendis in veritatis velit
                    cumque earum, natus id perferendis repellendus?</p>
            </div>
        </div>
    </section>

    <!-- Facilities -->
    
    <section class="facilities">
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="facilities-col">
                <img src="{{ url_for('static', filename='images/library.png') }}">
                <h3>World Class Library</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequatur ab officiis asperiores
                    repellat voluptate, animi commodi, inventore temporibus ratione sed illum fugiat magnam soluta nulla
                    deleniti adipisci odit optio.</p>
            </div>
            <div class="facilities-col">
                <img src="{{ url_for('static', filename='images/basketball.png') }}">
                <h3>Largest Playground</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequatur ab officiis asperiores
                    repellat voluptate, animi commodi, inventore temporibus ratione sed illum fugiat magnam soluta nulla
                    deleniti adipisci odit optio.</p>
            </div>
            <div class="facilities-col">
                <img src="{{ url_for('static', filename='images/cafeteria.png') }}">
                <h3>Tasty and Healthy Food</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequatur ab officiis asperiores
                    repellat voluptate, animi commodi, inventore temporibus ratione sed illum fugiat magnam soluta nulla
                    deleniti adipisci odit optio.</p>
            </div>
        </div>
    </section>

{% endblock %}